# macOS system files
.DS_Store

# Python virtual environment
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and editor files
.vscode/
.idea/
*.swp

# Logs and temporary files
*.log
*.tmp

# Jupyter Notebooks checkpoints 
.ipynb_checkpoints/
